.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    animation:slideRight 2s ease-out 5;
    /* animation:colorChange 2s ease-in 2; */
}

@keyframes slideRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
        background-color: lightsalmon;
    }
}

@keyframes colorChange{
    0%{ background-color: lightblue;}
    50%{background-color: lightpink;}
    100%{background-color: lightsalmon;}
}