.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    animation:slideRight 2s ease-out 5;
}

@keyframes slideRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}